<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Agregar estudiante</title>
</head>
<body>
    <h1>Agregar estudiante</h1>
    <form method="POST">
        <input type="text" name="firstname" id="firstname" required>
        <input type="text" name="lastname" id="lastname" required>
        <input type="text" name="location" id="location" required>
        <input type="tel" name="phone_number" id="phone_number" required>
        <input type="checkbox" name="status" id="stauts" value="True">
        <input type="submit" value="Guardar">
    </form>
</body>