<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Agregar estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <nav class="nav justify-content-end">
        <a class="nav-item nav-link" href="{{ url_for('student_directory') }}">Regresar</a>
    </nav>
    <h1 class="h1 text-center pb-4">Agregar Estudiante</h1>
    <form method="POST">
        <div class="row justify-content-center mb-2">
            <input class="form-control col-sm-4" type="text" name="name" id="name" placeholder="Nombre del Estudiante" required>
        </div>
        <div class="row justify-content-center mb-2">
            <input class="form-control col-sm-4" type="text" name="lastname" id="lastname" placeholder="Apellidos" required>
        </div>
        <div class="row justify-content-center mb-2">
            <input class="form-control col-sm-4" type="text" name="city" id="city" placeholder="Localidad" required>
        </div>
        <div class="row justify-content-center mb-2">
            <input class="form-control col-sm-4" type="tel" name="phone_number" id="phone_number" placeholder="Numero telefonico" required>
        </div>
        <div class="row justify-content-center">
            <input class="btn btn-primary" type="submit" value="Guardar">
        </div>
    </form>
</body>