<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Agregar Pago</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <h1>Agregar Pago</h1>
    <form method="POST">
        <select name="course" id="course">
            <option value="">Selecciona un curso</option>
            {% for course in courses %}
            <option value="{&quot;course&quot;: &quot;{{ course._id }}&quot;, &quot;course_name&quot;: &quot;{{ course.name }}&quot;}">{{ course.name }}</option>
            {% endfor %}
        </select>
        <select name="student" id="student">
            <option value="">Selecciona un estudiante</option>
            {% for student in students %}
            <option value="{&quot;student&quot;: &quot;{{ student._id }}&quot;, &quot;student_name&quot;: &quot;{{ student.firstname + ' ' + student.lastname}}&quot;}">{{ student.firstname + ' ' + student.lastname }}</option>
            {% endfor %}
        </select>
        <input type="number" name="amount" id="amount" placeholder="Cantidad" required>
        <input type="date" name="payment_date" id="payment_date" placeholder="Fecha de pago" required>
        <input type="submit" value="Guardar">
    </form>
</body>