<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Agregar Profesor</title>
</head>
<body>
    <h1>Agregar Profesor</h1>
    <form method="POST">
        <input type="text" name="firstname" id="firstname" required>
        <input type="text" name="lastname" id="lastname" required>
        <input type="tel" name="phone_number" id="phone_number" required>
        <input type="number" name="students_number" id="students_number">
        <select name="status" id="teacher">
            <option value="">Selecciona Status</option>
            <option value="Disponible">Disponible</option>
            <option value="No disponible">No Disponible</option>
        </select>

        <input type="submit" value="Guardar">
    </form>
</body>