<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Agregar curso</title>
</head>
<body>
    <h1>Agregar curso</h1>
    <form method="POST">
        <input type="text" name="name" id="name" placeholder="Nombre del curso" required>
        <select name="teacher" id="teacher" required>
            <option value="">Selecciona un profesor</option>
            {% for teacher in teachers %}
                <option value="{{ teacher._id }}">{{ teacher.firstname }}</option>
            {% endfor %}
        </select>
        <label for="start">Fecha de inicio</label>
        <input type="date" name="start" id="start" required>
        <label for="end">Fecha de termino</label>
        <input type="date" name="end" id="end" required>
        <input type="number" name="cost" id="cost" placeholder="Costo" required>
        <select name="status" id="status">
            <option value="Programado">Programado</option>
            <option value="Iniciado">Iniciado</option>
            <option value="Terminado">Terminado</option>
            <option value="Cancelado">Cancelado</option>
        </select>
        <input type="submit" value="Guardar">
    </form>
</body>