<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Editar Profesor</title>
</head>
<body>
    <h1>Editar Profesor</h1>
    <form method="POST">
        <input type="text" name="firstname" id="firstname" value="" placeholder="Nombre" required>
        <input type="text" name="lastname" id="lastname" value="" placeholder="Apellido" required>
        <input type="text" name="location" id="location" value="" placeholder="Ubicación" required>
        <input type="tel" name="phone_number" id="phone_number" value="" placeholder="Número de teléfono" required>
        <input type="submit" value="Guardar">
        <input type="text" name="etag" id="etag" value="" hidden>
    </form>
</body>