<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Editar estudiante</title>
</head>
<body>
    <h1>Agregar estudiante</h1>
    <form method="POST">
        <input type="text" name="firstname" id="firstname" value="{{ student_data.firstname }}" required>
        <input type="text" name="lastname" id="lastname" value="{{ student_data.lastname }}" required>
        <input type="text" name="location" id="location" value="{{ student_data.location }}" required>
        <input type="tel" name="phone_number" id="phone_number" value="{{ student_data.phone_number }}" required>
        <input type="checkbox" name="status" id="status" value="True">
        <input type="submit" value="Guardar">
    </form>
</body>