<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Editar Profesor</title>
</head>
<body>
    <h1>Editar Profesor</h1>
    <form method="POST">
        <input type="text" name="firstname" id="firstname" value="{{ teacher_data.firstname }}" placeholder="Nombre" required>
        <input type="text" name="lastname" id="lastname" value="{{ teacher_data.lastname }}" placeholder="Apellido" required>
        <input type="tel" name="phone_number" id="phone_number" value="{{ teacher_data.phone_number }}" placeholder="Número de teléfono" required>
        <select name="status" id="teacher">
            <option value="">Selecciona estado</option>
            <option value="Disponible">Disponible</option>
            <option value="No disponible">No Disponible</option>
        </select>
        <input type="submit" value="Guardar">
        <input type="text" name="etag" id="etag" value="{{ teacher_data._etag }}" hidden>
    </form>
</body>