<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Editar curso</title>
</head>
<body>
    <h1>Editar curso</h1>
    <form method="POST">
        <input type="text" name="name" id="name" value="{{ course_data.name }}" required>
        <select name="teacher" id="teacher" required>
            <option value="">Selecciona un profesor</option>
            <option value="00000001">Profesor 1</option>
            <option value="00000002">Profesor 2</option>
        </select>
        <input type="date" name="start" id="start" value="{{ course_data.start|toisoformat }}" required>
        <input type="date" name="end" id="end" value="{{ course_data.end|toisoformat }}"}} required>
        <input type="number" name="cost" id="cost" placeholder="Costo" value="{{ course_data.cost }}" required>
        <select name="status" id="status">
            <option value="Programado">Programado</option>
            <option value="Iniciado">Iniciado</option>
            <option value="Terminado">Terminado</option>
            <option value="Cancelado">Cancelado</option>
        </select>
        <input type="text" name="etag" id="etag" value="{{ course_data._etag }}" required hidden>
        <input type="submit" value="Guardar">
    </form>
</body>