<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Estudiantes inscritos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <nav class="nav justify-content-end">
        <a class="nav-item nav-link" href="{{ url_for('courses_directory') }}">Regresar</a>
    </nav>
    <h1 class="h1 text-center">Estudiantes inscritos</h1>
    <p>
        <ul class="list-group">
            {% for student in students %}
            <li class="list-group-item">{{ student }}</li>
            {% else %}
            <li class="list-group-item">No hay alumnos registrados</li>
            {% endfor %}
        </ul>
    </p>
</body>