<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Registro de pagos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('register_payment') }}">Agregar curso</a></li>
        </ul>
    </nav>
    <h1>Registro de pagos</h1>
    <table>
        <thead>
            <tr>
                <th>Estudiante</th>
                <th>Curso</th>
                <th>Fecha de pago</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.student }}</td>
                    <td>{{ payment.course }}</td>
                    <td>{{ payment.payment_date|string|toisoformat }}</td>
                    <td>${{ payment.amount }}</td>
                    <td><a href="{{ url_for('homepage') }}">Pointless button</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>