<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Control de estudiantes</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('create_student') }}">Agregar estudiante</a></li>
        </ul>
    </nav>
    <h1>Control de estudiantes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Localidad</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.firstname }}</td>
                    <td>{{ student.lastname }}</td>
                    <td>{{ student.location }}</td>
                    <td>{{ student.phone_number }}</td>
                    <td>{{ student.status }}</td>
                    <td><a href="{{ url_for('edit_student', student_id=student._id) }}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>