<!DOCTYPE html>
<head>
    <meta encoding="utf-8">
    <title>Control de profesores</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('add_teachers') }}">Agregar docente</a></li>
        </ul>
    </nav>
    <h1>Control de profesores</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.firstname }}</td>
                    <td>{{ teacher.lastname }}</td>
                    <td>{{ teacher.phone_number }}</td>
                    <td>{{ teacher.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>